Repository reactjs/ru.react.dev, pull requests merged in 2019-02, with the labels that each got.

#34 Translate "Components and Props" into Russian
  content/docs/components-and-props.md
  content/docs/nav.yml
Labels: needs review

#30 Translate "AJAX and APIs" into Russian
  content/docs/faq-ajax.md
  content/docs/nav.yml
Labels: work in progress

#31 Translate React Element Factories and JSX Warning
  content/warnings/legacy-factories.md
Labels: from-crowdin, needs review

#38 Translate "Babel, JSX, and Build Steps" into Russian
  content/docs/faq-build.md
  content/docs/nav.yml
Labels: needs review

#55 Терминология: монтирование
  TRANSLATION.md
Labels: translation-agreements

#59 Терминология: компонент с состоянием/без состояния
  TRANSLATION.md
Labels: translation-agreements

#56 Терминология: однонаправленный поток данных
  TRANSLATION.md
Labels: translation-agreements

#32 Translate Special Props Warning
  content/warnings/special-props.md
Labels: from-crowdin, needs review

#11 Added page translation: basics -> rendering elements
  content/docs/rendering-elements.md
Labels: needs review

#39 Translate "Getting Started" (getting-started.md)
  content/docs/getting-started.md
Labels: work in progress

#42 Translate "State and Lifecycle" (state-and-lifecycle.md)
  content/docs/nav.yml
  content/docs/state-and-lifecycle.md
Labels: needs review

#64 Translation List and keys
  content/docs/lists-and-keys.md
  content/docs/nav.yml
Labels: work in progress

#99 Translate Shallow Renderer
  content/docs/addons-shallow-renderer.md
Labels: needs review

#110 Update addons-shallow-renderer.md
  content/docs/addons-shallow-renderer.md
Labels: need proofread, needs review

#90 translate Thinking in React
  content/docs/thinking-in-react.md
Labels: work in progress

#118 React без JSX
  content/docs/nav.yml
  content/docs/react-without-jsx.md
Labels: needs review, work in progress

#119 Предупреждение: Refs Must Have Owner
  content/warnings/refs-must-have-owner.md
Labels: work in progress

#61 Translate "style-guide.md"
  TRANSLATION.md
Labels: needs review, under discussion

#136 Терминология: ref forwarding
  TRANSLATION.md
Labels: translation-agreements

#137 Добавить правило не переводить аббревиатуры
  TRANSLATION.md
Labels: needs review

#140 Терминология: destructuring
  TRANSLATION.md
Labels: translation-agreements

#117 Translation Forwarding refs
  content/docs/forwarding-refs.md
  examples/forwarding-refs/customized-display-name.js
  examples/forwarding-refs/fancy-button-ref.js
  examples/forwarding-refs/fancy-button-simple-ref.js
  examples/forwarding-refs/fancy-button.js
  examples/forwarding-refs/log-props-after.js
  examples/forwarding-refs/log-props-before.js
Labels: needs proofread

#151 Терминология: хук
  TRANSLATION.md
Labels: translation-agreements

#84 Hooks intro page translated
  content/docs/hooks-intro.md
Labels: needs proofread

#134 Translate Using the State Hook
  content/docs/hooks-state.md
  content/docs/nav.yml
Labels: needs review

#120 Translation Fragments
  content/docs/fragments.md
  content/docs/nav.yml
Labels: needs review

#129 Проверка типов с помощью PropTypes
  content/docs/nav.yml
  content/docs/typechecking-with-proptypes.md
Labels: needs review

#172 Терминология: feature/функционал
  TRANSLATION.md
Labels: translation-agreements

#144 Translate "Invalid ARIA Prop Warning"
  content/warnings/invalid-aria-prop.md
Labels: needs review

#88 Translate "DOM elements"
  content/docs/reference-dom-elements.md
Labels: work in progress

#108 Translation FAQ: Passing Functions to Components
  content/docs/faq-functions.md
Labels: needs proofread

#159 Интеграция со сторонними библиотеками
  content/docs/integrating-with-other-libraries.md
Labels: needs proofread

#122 Translate "SyntheticEvent"
  content/docs/reference-events.md
Labels: needs proofread

#112 Translation Using the Effect Hook
  content/docs/hooks-effect.md
Labels: needs proofread

#163 Add translate for render-props
  content/docs/render-props.md
Labels: needs review

#161 Translate "Virtual DOM"
  content/docs/faq-internals.md
  gatsby-config.js
  src/components/CodeEditor/CodeEditor.js
  src/components/ErrorDecoder/ErrorDecoder.js
  src/components/LayoutFooter/Footer.js
  src/components/TitleAndMetaTags/TitleAndMetaTags.js
  src/pages/index.js
Labels: needs review

#153 Translate "Рortals"
  content/docs/portals.md
Labels: work in progress

#183 Translate "faq-styling"
  content/docs/faq-styling.md
Labels: needs review

#36 Translate FAQ Component State
  content/docs/faq-state.md
Labels: work in progress

#149 Translate "How to Contribute" (how-to-contribute.md)
  content/docs/how-to-contribute.md
Labels: work in progress

#139 Translate Reconciliation
  content/docs/reconciliation.md
Labels: work in progress

#86 Rules of Hooks translation
  content/docs/hooks-rules.md
Labels: work in progress

#37 Translate Uncontrolled Components
  content/docs/uncontrolled-components.md
Labels: from-crowdin, needs proofread

#73 Translation of Error Boundaries into Russian
  content/docs/error-boundaries.md
Labels: work in progress

#150 Translate "Building Your Own Hooks"
  content/docs/hooks-custom.md
Labels: needs review

#97 "Test Utilities" перевод на русский
  content/docs/addons-test-utils.md
Labels: work in progress
