Repository reactjs/ru.react.dev, pull requests merged in 2019-03, with the labels that each got.

#126 React Dom Translation
  content/docs/reference-react-dom.md
Labels: needs proofread

#166 Translate Advanced Guides -> Static Type Checking
  content/docs/static-type-checking.md
Labels: needs review

#174 Translate "Forms"
  content/docs/forms.md
Labels: needs proofread

#177 Translate React Without ES6
  content/docs/react-without-es6.md
Labels: needs proofread

#205 Header: translate link to Languages page
  src/components/LayoutHeader/Header.js
Labels: needs review, under discussion

#200 translation of reference-glossary
  content/docs/reference-glossary.md
Labels: work in progress

#212 Translate Unknown Prop Warning
  content/warnings/unknown-prop.md
Labels: needs proofread

#207 Translated react-dom-server page
  content/docs/reference-react-dom-server.md
Labels: needs review

#171 Translate "FAQ: Versioning Policy"
  content/docs/faq-versioning.md
  content/docs/nav.yml
Labels: work in progress

#206 Jsx in depth
  content/docs/jsx-in-depth.md
  content/docs/nav.yml
Labels: work in progress

#229 404
  content/404.md
  src/pages/404.js
Labels: needs review, under discussion

#201 Tutorial
  content/tutorial/tutorial.md
Labels: needs review

#231 Fixing header, search bar no more overlaps link
  src/components/LayoutHeader/Header.js
Labels: enhancement, needs review, under discussion

#225 composition-vs-inheritance.md
  content/docs/composition-vs-inheritance.md
Labels: needs review

#242 Translate Сreate a New React App
  content/docs/create-a-new-react-app.md
Labels: needs review

#266 Версии #224
  src/pages/versions.js
Labels: needs review

#275 fix typo errors
  content/docs/code-splitting.md
  content/docs/hooks-custom.md
  content/docs/hooks-faq.md
  content/docs/hooks-state.md
  content/docs/nav.yml
  content/docs/optimizing-performance.md
  content/docs/reference-react.md
  content/docs/reference-test-renderer.md
  content/docs/web-components.md
  content/tutorial/tutorial.md
Labels: needs review

#276 Update reference-glossary.md
  content/docs/reference-glossary.md
Labels: needs review

#277 fix typo error
  content/docs/hooks-faq.md
Labels: needs review

#278 Update design-principles.md
  content/docs/design-principles.md
Labels: needs review
